[submodule "OCA/web"]
	path = OCA/web
	url = git@github.com:OCA/web.git
	branch = 17.0

[submodule "OCA/vertical-medical"]
	path = OCA/vertical-medical
	url = git@github.com:OCA/vertical-medical.git
	branch = 17.0
